* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Audiowide', sans-serif;
  color: rgb(231, 87, 39) !important;
}

html, body {
  min-height: 100vh;

  /* min-width: 100vw; */
  /* max-width: calc(100vw - 10px); */
}

.color-bg {
  background-color: rgba(231, 87, 39, .5);
  display: none;
}

.product-img {
  height: 450px !important;
}

.product-img img {
  object-fit: cover !important;
}

main {

  /* min-height: 100vh; */
  min-height: calc(100vh - 162px);
  /* padding-bottom: 56px; */
}

/* .carousel-inner {
  min-height: 300px !important;
} */

.cover-image {
  background-image: url('../images/phix-cover.jpeg');
  background-size: cover;
  height: 475px;
  width: 100%;
}

.phix-title {
  /* width: 60%; */
  /* padding: 3% 0 0 9rem; */
  font-size: 3rem;
}

.colorful {
  color: rgb(231, 87, 39);
}

.centered {
  /* position: absolute; */
  font-size: 2rem;
  display: block;
  opacity: 0;
}

.card:hover .centered {
  opacity: 1;
}

.card:hover .color-bg {
  display: block;
}

.category-img {
  width: 100% !important; /* You can set the dimensions to whatever you want */
  height: 300px !important;
  object-fit: cover !important;
}

.featured-product-img {
  width: 100% !important; /* You can set the dimensions to whatever you want */
  height: 475px !important;
  object-fit: cover !important;
}

.product-showcase-img {
  width: 100% !important; /* You can set the dimensions to whatever you want */
  height: 300px !important;
  object-fit: cover !important;
}

#mapContainer,
#registrationMap {
 height: 300px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}