* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  /* min-width: 100vw; */
  /* max-width: calc(100vw - 10px); */
}

main {
  /* min-height: 100vh; */
  min-height: calc(100vh - 442px);
  /* padding-bottom: 56px; */
}

#mapContainer,
#registrationMap {
 height: 300px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}